<template>
  <div>halo</div>
  <pre>{{ activityList }}</pre>
  <button @click="addActivity({ name: 'reskybn', done: false })">add</button>
  <button @click="isDone('resky')">done</button>
</template>

<script setup lang="ts">
import { useTodoStore } from "./stores/todo";

const { activityList, addActivity, isDone } = useTodoStore();
</script>
